body{
    background-color: rgba(8,195,247);
}
#form{
    background-color: white;
    width:25%;
    margin:120px auto;
    padding: 50px;
    font-size: large;
    border-radius: 10px;
}
#btn{
    color:white;
    background-color: rgb(8,195,247);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}
@media  and(max-width:700px) 
#form{
    width:65%;
    padding:40px;
    
}